Do Not Delete. Important school learnings

# VS code
.vscode

# Specific directories to ignore in Java project labs

# Lab One
JAVA/LabOne/build/
JAVA/LabOne/nbproject/private/

# Lab Two - Datatype and Operator
JAVA/LabTwoDatatypeAndOperator/build/
JAVA/LabTwoDatatypeAndOperator/nbproject/private/

# Lab Three - Conditional Statements
JAVA/LabThreeConditionalStatetment/build/
JAVA/LabThreeConditionalStatetment/nbproject/private/

# Lab Four - Method
/JAVA/LabFourMethod/nbproject/private/
/JAVA/LabFourMethod/build/

# Lab Five - Objects
/JAVA/LabFiveClassObjectConstructor/build/
/JAVA/LabFiveClassObjectConstructor/nbproject/build

# Lab Six - Overloading
/JAVA/LabSixOverloading/build/

# Lab Seven - Abstract
/JAVA/LabSevenAbstract/build/

# Lab Eight - Interface
/JAVA/LabEightInterface/build/

# Lab Exercises
/JAVA/Other/LabExercise/build/
/JAVA/Other/LabExerciseIIAbstract/build/

# NetBeans specific files and directories
**/nbproject/**
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# C programming specific
*o
*exe
Makefile

# Unnecessary resources to ignore
**/resources/**
*.pdf
*.docx
**learn**
